body{
font-family: Arial, sans-serif;
background:#f5f7ff;
text-align:center;
margin:0;
}

header{
background:#4f6df5;
color:white;
padding:40px;
}

.menu{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:40px;
}

.card{
background:white;
padding:30px;
border-radius:15px;
cursor:pointer;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
transition:0.3s;
font-size:20px;
}

.card:hover{
transform:scale(1.05);
background:#e9edff;
}

.kuis{
background:#ffe082;
}

iframe{
width:90%;
height:600px;
border:none;
margin-top:20px;
}

button{
padding:10px 20px;
border:none;
border-radius:10px;
background:#4f6df5;
color:white;
font-size:16px;
cursor:pointer;
}